.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.contacts {
    padding: 100px;
    font-size: 40px;
}

.contacts .tel {
  background-color: green
}

.contacts .email {
  background-color: gray
}

.contacts .social {
  background-color: pink
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    float: left;
}

.content {
    font-family: "Arial";
    font-size: 20pt;
    text-align: justify;
    float: right;
}