.contacts {
    padding: 100px;
    font-size: 40px;
}

.contacts .tel {
  background-color: green
}

.contacts .email {
  background-color: gray
}

.contacts .social {
  background-color: pink
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    float: left;
}

.content {
    font-family: "Arial";
    font-size: 20pt;
    text-align: justify;
    float: right;
}

.about p {
    font-size: 15pt;
}

.about img {
    border-radius: 50%;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: red;
}

.nav .active {
  background-color: #04AA6D;
}
